.DS_Store
/Chrome/*.js
/Chrome/modules/*.js
/Chrome/*.css
/Chrome/*.html
!/Chrome/background.js
/Opera/*.js
/Opera/*.html
/Opera/modules/*.js
/Opera/*.css
!/Opera/background.js
/Safari.safariextension/*.js
/Safari.safariextension/modules/*.js
/Safari.safariextension/*.css
/Safari.safariextension/*.html
/XPI/data/
!/XPI/lib/main.js
!/lib/*
