.DS_Store
/Chrome/*.js
/Chrome/modules/*.js
/Chrome/*.css
/Chrome/*.html
!/Chrome/background.js
/Safari.safariextension/*.js
/Safari.safariextension/modules/*.js
/Safari.safariextension/*.css
/Safari.safariextension/*.html
/Firefox/data/
/Firefox/modules/*.js
!/Firefox/lib/main.js
!/lib/*
Chrome.crx
Chrome.pem
